In [1]:
def greet():
    print("Hello, World!")

# Calling the function
greet()

Hello, World!

In [2]:
def greet_person(name):
    print(f"Hello, {name}!")

In [3]:
# Calling with different arguments
greet_person("Alice")
greet_person("Bob")

Hello, Alice!
Hello, Bob!

In [4]:
def add_numbers(a, b):
    result = a + b
    return result

In [5]:
# Using the return value
sum_result = add_numbers(5, 3)
print(f"5 + 3 = {sum_result}")

5 + 3 = 8

In [6]:
def greet_with_title(name, title="Mr."):
    print(f"Hello, {title} {name}!")

In [7]:
greet_with_title("Smith")

Hello, Mr. Smith!

In [8]:
greet_with_title("Johnson", "Dr.")

Hello, Dr. Johnson!

In [9]:
def calculate_area(length, width):
    area = length * width
    return area

In [10]:
calculate_area(7,8)

56

In [11]:
global_counter = 0

def increment_counter():
    global global_counter  # Declare we want to modify global variable
    global_counter += 1
    print(f"Counter: {global_counter}")

def create_local_variable():
    local_var = "I'm local to this function"
    print(local_var)

In [12]:
increment_counter()
increment_counter()
increment_counter()
create_local_variable()

Counter: 1
Counter: 2
Counter: 3
I'm local to this function

In [13]:
increment_counter()

Counter: 4

In [14]:
local_var

NameError: name 'local_var' is not defined

In [15]:
fruits = ["apple", "banana", "orange", "grape"]
numbers = [1, 2, 3, 4, 5]
mixed = ["hello", 42, 3.14, True]

In [16]:
print(f"First fruit: {fruits[0]}")
print(f"Last fruit: {fruits[-1]}")
print(f"Second fruit: {fruits[1]}")

First fruit: apple
Last fruit: grape
Second fruit: banana

In [17]:
print(f"First three fruits: {fruits[0:3]}")
print(f"Last two fruits: {fruits[-2:]}")
print(f"Every other fruit: {fruits[::2]}")

First three fruits: ['apple', 'banana', 'orange']
Last two fruits: ['orange', 'grape']
Every other fruit: ['apple', 'orange']

In [18]:
print(f"Number of fruits: {len(fruits)}")

Number of fruits: 4

In [19]:
fruits.append("mango")  # Add to end
print(f"After append: {fruits}")

fruits.insert(1, "kiwi")  # Insert at specific position
print(f"After insert: {fruits}")

After append: ['apple', 'banana', 'orange', 'grape', 'mango']
After insert: ['apple', 'kiwi', 'banana', 'orange', 'grape', 'mango']

In [20]:
fruits.remove("banana")  # Remove by value
print(f"After remove: {fruits}")

popped_fruit = fruits.pop()  # Remove and return last element
print(f"Popped: {popped_fruit}")
print(f"After pop: {fruits}")

After remove: ['apple', 'kiwi', 'orange', 'grape', 'mango']
Popped: mango
After pop: ['apple', 'kiwi', 'orange', 'grape']

In [21]:
fruits[0] = "strawberry"
print(f"After modification: {fruits}")

After modification: ['strawberry', 'kiwi', 'orange', 'grape']

In [22]:
fruits.sort()  # Sort alphabetically
print(f"Sorted: {fruits}")

numbers = [3, 1, 4, 1, 5, 9, 2, 6]
numbers.sort(reverse=True)  # Sort in descending order
print(f"Sorted numbers: {numbers}")

Sorted: ['grape', 'kiwi', 'orange', 'strawberry']
Sorted numbers: [9, 6, 5, 4, 3, 2, 1, 1]

In [23]:
print("My favorite fruits:")
for fruit in fruits:
    print(f"- {fruit}")

My favorite fruits:
- grape
- kiwi
- orange
- strawberry

In [24]:
for index, fruit in enumerate(fruits):
    print(f"{index + 1}. {fruit}")

1. grape
2. kiwi
3. orange
4. strawberry

In [25]:
squares = [x**2 for x in range(1, 6)]
print(f"Squares: {squares}")

Squares: [1, 4, 9, 16, 25]

In [26]:
even_numbers = [x for x in range(1, 11) if x % 2 == 0]
print(f"Even numbers: {even_numbers}")

Even numbers: [2, 4, 6, 8, 10]

In [27]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2
print(f"Combined: {combined}")

Combined: [1, 2, 3, 4, 5, 6]

In [28]:
repeated = list1 * 3
print(f"Repeated: {repeated}")

Repeated: [1, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "is_student": True
}

In [30]:
print(f"Name: {person['name']}")
print(f"Age: {person['age']}")

Name: Alice
Age: 25

In [31]:
print(f"City: {person.get('city', 'Unknown')}")
print(f"Phone: {person.get('phone', 'Not provided')}")

City: New York
Phone: Not provided

In [32]:
if "age" in person:
    print(f"Age is: {person['age']}")

Age is: 25

In [33]:
print(f"Keys: {list(person.keys())}")
print(f"Values: {list(person.values())}")
print(f"Items: {list(person.items())}")

Keys: ['name', 'age', 'city', 'is_student']
Values: ['Alice', 25, 'New York', True]
Items: [('name', 'Alice'), ('age', 25), ('city', 'New York'), ('is_student', True)]

In [34]:
person["email"] = "alice@email.com"
person["phone"] = "555-1234"
print(f"Updated person: {person}")

Updated person: {'name': 'Alice', 'age': 25, 'city': 'New York', 'is_student': True, 'email': 'alice@email.com', 'phone': '555-1234'}

In [35]:
person["age"] = 26
print(f"Updated age: {person}")

Updated age: {'name': 'Alice', 'age': 26, 'city': 'New York', 'is_student': True, 'email': 'alice@email.com', 'phone': '555-1234'}

In [36]:
removed_value = person.pop("phone")
print(f"Removed: {removed_value}")
print(f"After pop: {person}")

Removed: 555-1234
After pop: {'name': 'Alice', 'age': 26, 'city': 'New York', 'is_student': True, 'email': 'alice@email.com'}

In [37]:
student = {
    "name": "Bob",
    "grades": {
        "math": 85,
        "science": 92,
        "english": 78
    },
    "contact": {
        "email": "bob@school.com",
        "phone": "555-5678"
    }
}

In [38]:
print(f"Math grade: {student['grades']['math']}")
print(f"Email: {student['contact']['email']}")

Math grade: 85
Email: bob@school.com

In [39]:
print("Person information:")
for key, value in person.items():
    print(f"{key}: {value}")

Person information:
name: Alice
age: 26
city: New York
is_student: True
email: alice@email.com

In [40]:
print("Keys:")
for key in person.keys():
    print(f"- {key}")

Keys:
- name
- age
- city
- is_student
- email

In [41]:
print("Values:")
for value in person.values():
    print(f"- {value}")

Values:
- Alice
- 26
- New York
- True
- alice@email.com

In [42]:
squares_dict = {x: x**2 for x in range(1, 6)}
print(f"Squares dictionary: {squares_dict}")

Squares dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [43]:
high_grades = {subject: grade for subject, grade in student['grades'].items() if grade >= 85}
print(f"High grades: {high_grades}")

High grades: {'math': 85, 'science': 92}

In [44]:
def calculate_average(numbers):
    if len(numbers) == 0:
        return 0
    return sum(numbers) / len(numbers)

In [45]:
calculate_average([50,40,20])

36.666666666666664

In [46]:
def find_highest_grade(student_grades):
    if not student_grades:
        return None, None
    highest_subject = max(student_grades, key=student_grades.get)
    highest_grade = student_grades[highest_subject]
    return highest_subject, highest_grade

In [50]:
def generate_fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1] + fib[i-2])
    return fib

In [47]:
def create_student_profile(name, age, grades):
    return {
        "name": name,
        "age": age,
        "grades": grades,
        "average": calculate_average(list(grades.values())),
        "highest_subject": find_highest_grade(grades)[0]
    }

In [48]:
test_grades = {"math": 85, "science": 92, "english": 78}
subject, grade = find_highest_grade(test_grades)
print(f"Highest grade: {grade} in {subject}")

Highest grade: 92 in science

In [51]:
fib_sequence = generate_fibonacci(10)
print(f"Fibonacci sequence: {fib_sequence}")

Fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [52]:
student_profile = create_student_profile("Charlie", 18, test_grades)
print(f"Student profile: {student_profile}")

Student profile: {'name': 'Charlie', 'age': 18, 'grades': {'math': 85, 'science': 92, 'english': 78}, 'average': 85.0, 'highest_subject': 'science'}